.Card {
  border: 1px solid white;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  // overflow: hidden;

  iframe {
    // height: 300px;
    // width: 150px;
    // margin-top: -150px;
  }

  img {
    max-width: 100%;
  }
}
